/*paleta colores*/
:root {
    --color-principal: #0065F3;
    --color-secundario-negro: #091229;
    --color-secundario-gris-oscuro: #343840;
    --color-secundario-gris: #6E7377;
    --color-secundario-gris-claro: #9DA4A8;
    --color-secundario-gris-claro-extra: #E4EAED;
    --color-secundario-blanco: #FFFFFF;
    --color-titulacion-didi: #FF3757;
    --color-titulacion-anim: #FFE900;
    --color-titulacion-anim-alternativo: #FFCF00;
    --color-titulacion-dipi: #773CCA;
    --color-titulacion-inso: #00CDD4;
    --color-titulacion-software-mates: #56C397;
    --color-titulacion-aplicaciones: #00BCEC;
    --color-titulacion-anim3d: #BDD23A;
    --color-error: #D71B1B;
}

.btn-outline-primary {
    border-color: #0065F3;
}

.btn-color-primary {
    color: #FFFFFF;
    background-color: #0065F3;
}

.form-control:focus {
    border-color: #0065F3;
    box-shadow: 0 0 0 0.2rem #0065F3;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400 !important;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.ms-font {
    font-family: "Montserrat", sans-serif;
}

.ms-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650 !important;
    font-style: normal;
}

.ms-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 !important;
    font-style: normal;
}

.ms-extrabold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800 !important;
    font-style: normal;
}

.ms-black {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900 !important;
    font-style: normal;
}

.ms-button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600 !important;
    font-style: normal;
}

.bg-image-main {
    background-image: url('../public/images/fondo-utad.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    animation: bg 6s infinite; 
}

/*
@keyframes bg {
    100% {
        filter: hue-rotate(360deg);
    }
}
*/



.btn-next {
    border-radius: 8px;
    background: var(--color-principal, #0065F3);


}

.custom-bold {
    font-weight: 650 !important;
}

.title-bold{
    font-weight: 650 !important;
}

.custom-button {
    border-radius: 13.945px;
    border: 1px solid var(--color-secundario-negro, #091229);
    background: var(--color-secundario-blanco, #FFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.custom-button h3 {
    color: var(--color-secundario-negro, #091229);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    margin-top: 10px;
}

.bold::placeholder {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

/* estilos */
.nombre-style,
.apellido-style,
.titulacion-style,
.especialidad-style,
.curso-style {
    display: flex;
    height: 48px;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 16px; /* Ajusta el espacio entre cada fila */
}

.nombre-style,
.apellido-style {
    width: calc(50% - 8px); /* Ajusta el ancho de los campos de nombre y apellido */
    margin-right: 16px; /* Ajusta el espacio entre los campos de nombre y apellido */
}

.titulacion-style,
.especialidad-style,
.curso-style {
    width: calc(33.33% - 8px); /* Ajusta el ancho de los campos de titulación, especialidad y curso */
    margin-right: 8px; /* Ajusta el espacio entre los campos de titulación, especialidad y curso */
}

.clase-style {
    width: 144px;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.expand-button {
    border-radius: 50px; /* More rounded corners */
    border: 2px solid #000;
    font-size: 1rem;
    color: #000;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s;
}

.expand-button::after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the position of the plus sign */
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #000;
}

.expand-button:hover {
    background-color: #f0f0f0;
}