:root {
    --color-principal: #0065F3;
    --color-secundario-negro: #091229;
    --color-secundario-gris-oscuro: #343840;
    --color-secundario-gris: #6E7377;
    --color-secundario-gris-claro: #9DA4A8;
    --color-secundario-gris-claro-extra: #E4EAED;
    --color-secundario-blanco: #FFFFFF;
    --color-titulacion-didi: #FF3757;
    --color-titulacion-anim: #FFE900;
    --color-titulacion-anim-alternativo: #FFCF00;
    --color-titulacion-dipi: #773CCA;
    --color-titulacion-inso: #00CDD4;
    --color-titulacion-software-mates: #56C397;
    --color-titulacion-aplicaciones: #00BCEC;
    --color-titulacion-anim3d: #BDD23A;
    --color-error: #D71B1B;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
    font-family: "Montserrat", serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.color-principal {
    color: var(--color-principal) !important;
}

.background-color-principal {
    background-color: var(--color-principal) !important;
}

.color-secundario-negro {
    color: var(--color-secundario-negro) !important;
}

.background-color-secundario-negro {
    background-color: var(--color-secundario-negro) !important;
}

.color-secundario-gris-oscuro {
    color: var(--color-secundario-gris-oscuro) !important;
}

.background-color-secundario-gris-oscuro {
    background-color: var(--color-secundario-gris-oscuro) !important;
}

.color-secundario-gris {
    color: var(--color-secundario-gris) !important;
}

.background-color-secundario-gris {
    background-color: var(--color-secundario-gris) !important;
}

.color-secundario-gris-claro {
    color: var(--color-secundario-gris-claro) !important;
}

.background-color-secundario-gris-claro {
    background-color: var(--color-secundario-gris-claro) !important;
}

.color-secundario-gris-claro-extra {
    color: var(--color-secundario-gris-claro-extra) !important;
}

.background-color-secundario-gris-claro-extra {
    background-color: var(--color-secundario-gris-claro-extra) !important;
}

.color-secundario-blanco {
    color: var(--color-secundario-blanco) !important;
}

.background-color-secundario-blanco {
    background-color: var(--color-secundario-blanco) !important;
}

.color-titulacion-didi {
    color: var(--color-titulacion-didi) !important;
}

.background-color-titulacion-didi {
    background-color: var(--color-titulacion-didi) !important;
}

.color-titulacion-anim {
    color: var(--color-titulacion-anim) !important;
}

.background-color-titulacion-anim {
    background-color: var(--color-titulacion-anim) !important;
}

.color-titulacion-anim-alternativo {
    color: var(--color-titulacion-anim-alternativo) !important;
}

.background-color-titulacion-anim-alternativo {
    background-color: var(--color-titulacion-anim-alternativo) !important;
}

.color-titulacion-dipi {
    color: var(--color-titulacion-dipi) !important;
}

.background-color-titulacion-dipi {
    background-color: var(--color-titulacion-dipi) !important;
}

.color-titulacion-inso {
    color: var(--color-titulacion-inso) !important;
}

.background-color-titulacion-inso {
    background-color: var(--color-titulacion-inso) !important;
}

.color-titulacion-software-mates {
    color: var(--color-titulacion-software-mates) !important;
}

.background-color-titulacion-software-mates {
    background-color: var(--color-titulacion-software-mates) !important;
}

.color-titulacion-aplicaciones {
    color: var(--color-titulacion-aplicaciones) !important;
}

.background-color-titulacion-aplicaciones {
    background-color: var(--color-titulacion-aplicaciones) !important;
}

.color-titulacion-anim3d {
    color: var(--color-titulacion-anim3d) !important;
}

.background-color-titulacion-anim3d {
    background-color: var(--color-titulacion-anim3d) !important;
}

.color-error {
    color: var(--color-error) !important;
}

.background-color-error {
    background-color: var(--color-error) !important;
}

.btn-outline-primary,
.form-control:focus {
    border-color: var(--color-principal);
}

.btn-color-primary {
    color: var(--color-secundario-blanco);
    background-color: var(--color-principal);
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem var(--color-principal);
}

/* TIPOGRAFIA FIGMA*/
.ms-font,
.ms-regular,
.ms-light,
.ms-extrabold,
.ms-black,
.ms-button,
.ms-link,
.ms-regular-black,
.ms-semibold,
.ms-extra-semibold,
.ms-bold,
.ms-regular,
.custom-bold,
.ms-button,
.title-bold {
    font-family: Montserrat;
    font-optical-sizing: auto;
    font-style: normal;
}


.title-bold {
    font-weight: 700 !important;
}

.ms-light {
    font-weight: 100 !important;
}

.ms-extrabold {
    color: #000;
    /* GRAN TITULO*/
    /* H1/Montserrat/ExtraBold */
    font-family: Montserrat;
    font-size: 61px !important;
    font-weight: 800 !important;
    line-height: 105% !important; /* 64.05px */
}

.ms-bold {
    color: #000;
    /*TITULO DEL CONTENIDO*/
    color: var(--color-secundario-negro, #091229);
    /* H1/Montserrat/Bold */
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%; /* 40px */
}

.ms-semibold {
    color: var(--color-secundario-negro, #091229);
    /*SUBTITULO*/
    /* H2/Montserrat/SemiBold */
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 100% !important; /* 24px */
}

.ms-extra-semibold {
    /*SUBTITULO en Negrita*/
    color: var(--color-secundario-negro, #091229);

    font-size: 24px !important;
    font-weight: 800 !important;
    line-height: 100% !important; /* 24px */

}

.ms-regular {
    color: var(--color-secundario-negro, #091229);
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 120% !important; /* 19.2px */
}

.ms-link {
    color: var(--color-secundario-negro, #091229);
    /* H3/Montserrat/Link/Pequeño */
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 100% !important; /* 14px */
    text-decoration-line: underline !important;
}

.ms-regular-black {
    color: var(--color-secundario-negro, #091229);
    /* H3/Montserrat/Bold */
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 120% !important; /* 19.2px */
}

.ms-black {
    font-weight: 900 !important;
}

.ms-button {
    color: var(--Color-Secundario-Blanco, #FFF);
    text-align: center;

    /* Boton/Montserrat/Versalitas */
    font-family: Montserrat, serif !important;
    font-size: 36px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 100% !important; /* 36px */
    font-variant: all-small-caps !important;
}

.bg-placeholder,
.bg-image-main,
.bg-image-signup,
.bg-image-signin {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    animation: bg 6s infinite;
}

.bg-placeholder {
    background-image: url('../public/images/background/placeholder.png');
}

.bg-image-main {
    background-image: url('../public/images/background/home.svg');
}

.bg-image-signup {
    background-image: url('../public/images/background/signup.svg');
}

.bg-image-signin {
    background-image: url('../public/images/background/signin.svg');
}

.btn-next,
.custom-button {
    border-radius: 8px;
    background: var(--color-principal);
}

.custom-button {
    border: 1px solid var(--color-secundario-negro);
    background: var(--color-secundario-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.custom-button h3 {
    color: var(--color-secundario-negro);
    font-family: Montserrat, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    margin-top: 10px;
}

.bold::placeholder {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.nombre-style,
.apellido-style,
.titulacion-style,
.especialidad-style,
.curso-style {
    display: flex;
    height: 48px;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 16px; /* Ajusta el espacio entre cada fila */
}

.nombre-style,
.apellido-style {
    width: calc(50% - 8px); /* Ajusta el ancho de los campos de nombre y apellido */
    margin-right: 16px; /* Ajusta el espacio entre los campos de nombre y apellido */
}

.titulacion-style,
.especialidad-style,
.curso-style {
    width: calc(33.33% - 8px); /* Ajusta el ancho de los campos de titulación, especialidad y curso */
    margin-right: 8px; /* Ajusta el espacio entre los campos de titulación, especialidad y curso */
}

.clase-style {
    width: 144px;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.expand-button {
    border-radius: 50px; /* More rounded corners */
    border: 2px solid #000;
    font-size: 1rem;
    color: #000;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s;
}

.expand-button::after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the position of the plus sign */
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #000;
}

.expand-button:hover {
    background-color: #f0f0f0;
}