.btn {
    font-family: Montserrat, serif !important;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.btn-font {
    font-variant: all-small-caps !important;
}

.btn-custom {
    color: var(--color-secundario-gris) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 100% !important;
}

.btn-custom:hover {
    color: var(--color-secundario-negro) !important;
    background-color: transparent !important;
}

.btn-active {
    color: var(--color-secundario-negro) !important;
    border-bottom: 2px solid var(--color-secundario-negro) !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}